<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href='http://serve.fontsproject.com/css?family=Shuneet:400,800' rel ='stylesheet' type='text/css'>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <div class="page-title"> 
                        <p> תחרות מדענים ומפתחים צעירים בישראל</p></div>
                        <h3>תשע״ח 2018</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="well">טופס הרשמה</h1>
    <div class="col-lg-12 well">
      <div class="row">
        <form>
            <div class="col-sm-12">
                <legend>רישום למערכת</legend>
				
				<div class="row">
                    <div class="col-sm-6 form-group">
                        <label>סוג משתמש *</label>
						<select class="user-type" id="type" required [(ngModel)]="user.type" name="type">
							<option *ngFor="let type of userTypes" [value]="type">{{type}}</option>
						</select>
					</div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">

                        <div [formGroup]="userform">
                            <label>דואר אלקטרוני*</label>
                            <input type = "email" id = "email" required [(ngModel)]="user.email" name = "email" formControlName="email"/>
                            <div *ngIf="email.invalid && (email.dirty)"
                                class="alert alert-danger">
                                <div *ngIf="email.errors.email">
                                    כתובת דואר אלקטרוני אינה תקינה
                               </div>
                              </div>
                          </div>
                        </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 form-group">
                          <label>סיסמא*</label>
                          <input type="password" id = "password" required [(ngModel)]="user.password" name = "password"/>
                      </div>
                      <div class="col-sm-6 form-group">
                          <td><label>אימות סיסמא*</label>
                          <input type="password"/></td>
                      </div>
                  </div>
                </div>  

              <legend>פרטים אישים</legend>
  
            <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6 form-group">

                      <div [formGroup]="userform">
                          <label for="firstName">שם פרטי *</label>
                          <input type = "text" id="firstName" required [(ngModel)]="user.firstName" name = "firstName" formControlName="firstname"/>
                            <div *ngIf="firstname.invalid && (firstname.dirty)"
                            class="alert alert-danger">
                            <div *ngIf="firstname.errors.required">
                                חובה להזין שם פרטי.
                              </div>
                              <div *ngIf="firstname.errors.minlength">
                                שם פרטי חייב להכיל לפחות שתי אותיות.
                              </div>
                              <div *ngIf="firstname.errors.pattern">
                                  עברית כפרה
                              </div>
                            </div>
                        </div>
                  </div>
                  <div class="col-sm-6 form-group">

                      <div [formGroup]="userform">
                          <label for="lastName">שם משפחה *</label>
                          <input type = "text" id = "lastName" required [(ngModel)]="user.lastName" placeholder="הזן שם משפחה" name = "lastName" formControlName="lastname"/>
                          <div *ngIf="lastname.invalid && (lastname.dirty)"
                            class="alert alert-danger">
                            <div *ngIf="lastname.errors.required">
                                חובה להזין שם משפחה.
                            </div>
                            <div *ngIf="lastname.errors.minlength">
                              שם משפחה חייב להכיל לפחות שתי אותיות.
                            </div>
                            <div *ngIf="lastname.errors.pattern">
                                אותיות בעברית בלבד
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6 form-group">
                      <div [formGroup]="userform">
                          <label for="engFname">שם פרטי באנגלית</label>
                          <input type = "text" id = "engFname" [(ngModel)]="user.engFname" name = "engFname" formControlName="engfname"/>
                          <div *ngIf="engfname.invalid && (engfname.dirty)"
                              class="alert alert-danger">
                          <div *ngIf="engfname.errors.pattern">
                              English please
                          </div>
                        </div>
                      </div>                 
                  </div>
                  <div class="col-sm-6 form-group">
                      <label for="lastNameE">שם משפחה באנגלית</label>
                      <input type = "text" id = "engLname" [(ngModel)]="user.engLname" name = "engLname"/>                  
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <div [formGroup]="userform">
                            <label>נייד / טלפון בבית *</label>
                            <input type = "phone" id = "phone" required [(ngModel)]="user.phone" name = "phone" formControlName="phone"/>
                            <div *ngIf="phone.invalid && (phone.dirty)"
                              class="alert alert-danger">
                              <div *ngIf="phone.errors.pattern">
                               מספרים בלבד
                             </div>
                             <div *ngIf="(phone.errors.minlength || phone.errors.maxlength)">
                                מספר טלפון לא תקין.
                              </div>
                            </div>
                            </div>
                            </div>
                          <div class="col-sm-6 form-group">
                              <label>טלפון נוסף</label>
                              <input type="text"  id="phone2"  [(ngModel)]="user.anotherPhone" name = "anotherPhoneNumber">
                          </div>
                </div>
            </div>
           
            <div class="col-sm-12">
                <div class="gander">
                    <label>מין</label>
                      <input type = "checkbox" id = "male" [(ngModel)]="user.gender" name = "gender">זכר
                      <input type = "checkbox" id = "female"  [(ngModel)]="user.gender" name = "gender">נקבה
                </div>
            </div>
            
            <div class="col-sm-12">
                <div class="birthDate">
                    <label>תאריך לידה*</label>
                    <input type="date" name="input" ng-model="example.value"
                    placeholder="yyyy-mm-dd" min="1990-01-01" max="2099-12-31" id = "birthday" required [(ngModel)]="user.birthday" name = "birthday"/>
                </div>
            </div>
            
            <div class="col-sm-12">
                <div class="row">
                  <div class="col-lg-12">
                      <legend>כתובת</legend>
                  </div>
                    
                      <div class="col-sm-4 form-group">
                        <label>ישוב</label>
                        <input type = "text" id = "city"  [(ngModel)]="user.city" name = "city"/>
                      </div>	
                      <div class="col-sm-4 form-group">
                        <label>רחוב</label>
                        <input type = "text" id = "street" [(ngModel)]="user.street" name = "street"/>                
                      </div>	
                      <div class="col-sm-4 form-group">
                        <label>מספר בית</label>
                        <input type="text" id = "appartment" [(ngModel)]="user.appartment" name = "appartment">
                      </div>		
                    </div>
              </div>
            
              
              <div class="col-sm-12">
                <div class="row">
                    
                      <div class="col-sm-4 form-group">
                          <label>בית ספר</label>
                          <input type = "text" id = "schoolName" [(ngModel)]="user.schoolName" name = "schoolName"/>
                      </div>
                      <div class="col-sm-4 form-group">
                        <label>ישוב בית ספר</label>
                        <input type = "text" id = "schoolCity" [(ngModel)]="user.schoolCity" name = "schoolCity"/>
                      </div>
                      
                </div>
                  
                
              </div>
        </form>
      </div>
    </div>

    <div class="col-sm-12">
        <div class="btn">
            <a routerLink = "/loginScreen"><button id = "Calculate" class="btn" (click) = "registerUser()">הירשם והמשך לשלב הבא</button></a>
        </div>
    </div>
    
</div>

<div class="footer">
  <app-footer></app-footer>
</div>