<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div *ngIf="this.db.loggedIn != 'true'">
    <div class="banner"></div>
</div>
<div class="header" *ngIf="this.db.loggedIn == 'true'">
    <app-header></app-header>
</div>
<div *ngIf="this.user == null">
    <div class="loader"></div>
</div>
<div *ngIf="this.user != null">
    <div class="container">
        <h2 class="well">{{title}}</h2>
        <form>
            <div class="row">
                <div class="col-sm-10">
                    <div *ngIf="this.db.loggedIn != 'true'">
                        <legend>רישום למערכת</legend>
                    </div>
                    <div *ngIf="this.db.loggedIn == 'true'">
                        <legend>פרטי משתמש</legend>
                    </div>
                </div>
            </div>
            <div *ngIf="this.db.loggedIn != 'true'" class="row">
                <div class="col-sm-4 form-group">
                    <label class="req">סוג משתמש *</label>
                    <select class="user-type" id="type" required [(ngModel)]="user.type" name="type">
                        <option *ngFor="let type of userTypes" [value]="type">{{type}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="this.db.loggedIn != 'true'" class="row">
                <div class="col-sm-4 form-group">
                    <div [formGroup]="userform">
                        <label class="req">דואר אלקטרוני *</label>
                        <input type="email" id="email" required [(ngModel)]="user.email" name="email" formControlName="email" />
                        <div *ngIf="email.invalid && (email.dirty)">
                            <div *ngIf="email.errors.email && !CheckIfEmptyField(user.email)" class="alert alert-danger">
                                נא להזין כתובת דואר אלקטרוני תקינה
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <div [formGroup]="userform">
                        <label class="req">סיסמא *</label>
                        <input type="password" id="password" required [(ngModel)]="user.password" name="password" formControlName="password" />
                        <div *ngIf="password.invalid && (password.dirty) && !CheckIfEmptyField(user.password)" class="alert alert-danger">
                            <div *ngIf="password.errors.required && !CheckIfEmptyField(user.password)">
                                חובה להזין סיסמא
                            </div>
                            <div *ngIf="password.errors.minlength">
                                הסיסמא חייבת להכיל לפחות 6 אותיות
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div [formGroup]="userform">
                        <label class="req">אימות סיסמא *</label>
                        <input type="password" id="confimpassword" required [(ngModel)]="userPasswordValidation" name="confimpassword" formControlName="confimpassword"
                        />
                        <div *ngIf="(confimpassword.dirty) && !CheckIfEmptyField(userPasswordValidation) && !validatePassword()" class="alert alert-danger">
                            יש להזין סיסמא תואמת לשדה הסיסמא
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <legend>פרטים אישים</legend>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">

                    <div [formGroup]="userform">
                        <label for="firstName" class="req">שם פרטי *</label>
                        <input type="text" id="firstName" required [(ngModel)]="user.firstName" name="firstName" formControlName="firstname" />
                        <div *ngIf="firstname.invalid && (firstname.dirty) && !CheckIfEmptyField(user.firstName)" class="alert alert-danger">
                            <div *ngIf="firstname.errors.required && !CheckIfEmptyField(user.firstName)">
                                חובה להזין שם פרטי
                            </div>
                            <div *ngIf="firstname.errors.minlength  && !CheckIfEmptyField(user.firstName)">
                                שם פרטי חייב להכיל לפחות שתי אותיות
                            </div>
                            <div *ngIf="firstname.errors.pattern  && !CheckIfEmptyField(user.firstName)">
                                יש להזין בשדה זה אותיות בעברית בלבד
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div [formGroup]="userform">
                        <label for="lastName" class="req">שם משפחה *</label>
                        <input type="text" id="lastName" required [(ngModel)]="user.lastName" name="lastName" formControlName="lastname" />
                        <div *ngIf="lastname.invalid && (lastname.dirty) && !CheckIfEmptyField(user.lastName)" class="alert alert-danger">
                            <div *ngIf="lastname.errors.required && !CheckIfEmptyField(user.lastName)">
                                חובה להזין שם משפחה
                            </div>
                            <div *ngIf="lastname.errors.minlength && !CheckIfEmptyField(user.lastName)">
                                שם משפחה חייב להכיל לפחות שתי אותיות
                            </div>
                            <div *ngIf="lastname.errors.pattern && !CheckIfEmptyField(user.lastName)">
                                יש להזין בשדה זה אותיות בעברית בלבד
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <div [formGroup]="userform">
                        <label for="engFname">שם פרטי באנגלית</label>
                        <input type="text" id="engFname" [(ngModel)]="user.engFname" name="engFname" formControlName="engfname" />
                        <div *ngIf="engfname.invalid && (engfname.dirty) && !CheckIfEmptyField(user.engFname)" class="alert alert-danger">
                            <div *ngIf="engfname.errors.pattern && !CheckIfEmptyField(user.engFname)">
                                יש להזין בשדה זה אותיות באנגלית בלבד
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div [formGroup]="userform">
                        <label for="engLname">שם משפחה באנגלית</label>
                        <input type="text" id="engLname" [(ngModel)]="user.engLname" name="engLname" formControlName="englname" />
                        <div *ngIf="englname.invalid && (englname.dirty)" class="alert alert-danger">
                            <div *ngIf="englname.errors.pattern">
                                יש להזין בשדה זה אותיות באנגלית בלבד
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <div [formGroup]="userform">
                        <label class="req">נייד / טלפון בבית *</label>
                        <input type="phone" id="phone" required [(ngModel)]="user.phone" name="phone" formControlName="phone" />
                        <div *ngIf="phone.invalid && (phone.dirty) && !CheckIfEmptyField(user.phone)" class="alert alert-danger">
                            <div *ngIf="phone.errors.pattern && !CheckIfEmptyField(user.phone)">
                                נא להזין מספר טלפון תקין
                            </div>
                            <div *ngIf="(phone.errors.minlength) &&  !CheckIfEmptyField(user.phone)">
                                המספר קצר מדי
                            </div>
                            <div *ngIf="(phone.errors.maxlength) && !CheckIfEmptyField(user.phone)">
                                המספר ארוך מדי
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label>טלפון נוסף</label>
                    <input type="text" id="phone2" [(ngModel)]="user.anotherPhone" name="anotherPhoneNumber">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <div class="gander" [formGroup]="userform">
                        <label class="req">מין *</label>
                        <select class="user-gender" id="gender" required [(ngModel)]="user.gender" name="gender" formControlName="gender">
                            <option></option>
                            <option>זכר</option>
                            <option>נקבה</option>
                        </select>
                        <div *ngIf="gender.invalid && (gender.dirty)" class="alert alert-danger">
                            <div *ngIf="gender.errors.required">
                                שדה חובה
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isUserStudent()">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="birthDate" [formGroup]="userform">
                            <label class="req">תאריך לידה *</label>
                            <input type="date" name="input" ng-model="example.value" placeholder="yyyy-mm-dd" min="1990-01-01" max="2050-12-31" id="birthday"
                                required [(ngModel)]="user.birthday" name="birthday" formControlName="birthday" />
                            <div *ngIf="birthday.invalid && (birthday.dirty)" class="alert alert-danger">
                                <div *ngIf="birthday.errors.required">
                                    שדה חובה
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <legend>כתובת</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>ישוב</label>
                        <input type="text" id="city" [(ngModel)]="user.city" name="city" />
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>רחוב</label>
                        <input type="text" id="street" [(ngModel)]="user.street" name="street" />
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>מספר בית</label>
                        <input type="text" id="appartment" [(ngModel)]="user.appartment" name="appartment">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <legend>פרטי בית ספר</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>שם בית הספר</label>
                        <input type="text" id="schoolName" [(ngModel)]="user.schoolName" name="schoolName" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>ישוב בית הספר</label>
                        <input type="text" id="schoolCity" [(ngModel)]="user.schoolCity" name="schoolCity" />
                    </div>
                </div>
            </div>
            <div class="btnsign">
                <div *ngIf="this.db.loggedIn != 'true'">
                    <button id="Calculate" class="btnsign" (click)="registerUser()">הירשם והמשך לשלב הבא</button>
                </div>
                <div *ngIf="this.db.loggedIn == 'true'">
                    <button id="Calculate" class="btnsign" (click)="updateInfo()">עדכן פרטים</button>
                </div>
                <div class="col-sm-6 form-group hideError" [hidden]="!signUpError">
                    יש למלא את כל שדות החובה כנדרש
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>