<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="header">
        <app-header></app-header>
    </div>

<div class="container">
  <div class="row">
      <div class="col-md-8">
          <div class="well well-sm">
              <form  [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="name">
                              שם</label>
                          <input type="text" class="form-control" id="name" placeholder="הזן שם" required="required" formControlName="name"/>
                      </div>
                      <div class="form-group">
                          <label for="email">
                              כתובת דואר אלקטרוני</label>
                          <div class="input-group">
                                <input type="email" class="form-control" id="email" placeholder="הזן כתובת דואר אלקטרוני" required="required" formControlName="email"/>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                              </span>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="name">
                              הודעה</label>
                          <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                              placeholder="הודעה"  formControlName="message"></textarea>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-primary pull-left" id="btnContactUs" [disabled]="form.invalid">
                          שלח</button>
                  </div>
              </div>
              </form>
          </div>
      </div>
      <div class="col-md-4">
          <form>
          <legend><span class="glyphicon glyphicon-globe"></span><a href="http://www.mada.org.il/">האתר שלנו</a> </legend>
          <address>
              <strong>מוזיאון המדע</strong><br>
              המוזיאונים 3<br>
              ירושלים, ישראל<br>
              <abbr title="Phone">
                  </abbr>
                  02-6544888
          </address>

          </form>
      </div>
  </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>