#t-ef07b413-721c-418e-81b1-33a7ed533245 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Table_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_1 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_1 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_2 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_2 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_3 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_3 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_4 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_4 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_5 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_5 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_6 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_6 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_7 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_7 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_8 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_8 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_9 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_9 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_9 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_10 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_10 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_10 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_11 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_11 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_11 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_12 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_12 td.layout {
  padding: 0px 0px 0px 0px;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_12 .verticalalign {
  vertical-align: middle;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 #t-Cell_12 {
  width: 60px;
  height: 768px;
  background-color: #FFE5E5;
  background-image: none;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#t-ef07b413-721c-418e-81b1-33a7ed533245 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}