<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->

<div class="header">
        <app-header></app-header>
    </div>

<div *ngIf="this.db.loggedInUser != null">
        <div class="container">
                <div class="name">
                    <strong>שלום {{this.db.loggedInUser.firstName}}</strong>
                </div>
            
                <div class="row">
                    <legend><strong>סטאטוס עבודות</strong></legend>
                    <div class="notice notice-success">
                            <i class="glyphicon glyphicon-duplicate">
                            <strong>עבודות</strong></i><br>
                                (מספר) עבודות שלא נבדקו
                    </div>
                </div>
            
                <div class="row">
                    <legend><strong>סטאטוס הודעות</strong></legend>
                    <div class="notice notice-info">
                        <i class="glyphicon glyphicon-comment">
                            <strong>הודעות</strong></i><br>
                            {{msg_counter}} הודעות חדשות
                    </div>
                </div>
                
            </div>

</div>

<div class="page-footer">
    <app-footer></app-footer>
</div>