#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}