#s-16532a5a-cca7-4f43-922e-7e145689e818 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  max-height: 768px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Image_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Image_3 {
  position: absolute;
  width: 1023px;
  height: 112px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_1 {
  position: absolute;
  width: 55px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 9px 3px #000000;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Image_2 {
  position: absolute;
  width: 964px;
  height: 585px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 59px 59px 59px 59px;
  opacity: 0.85;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -6px 0px 15px 8px #000000;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_1 {
  position: absolute;
  width: 257px;
  height: 197px;
  background-color: transparent;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_2 {
  position: absolute;
  width: 568px;
  height: 197px;
  background-color: transparent;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_1 {
  position: absolute;
  padding-left: 6px;
  width: 134px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  box-shadow: -1px 0px 10px 2px #404040;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_1 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_2 {
  position: absolute;
  padding-left: 6px;
  width: 134px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  box-shadow: -1px 0px 10px 2px #404040;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_2 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_3 {
  position: absolute;
  padding-left: 6px;
  width: 134px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  box-shadow: -1px 0px 10px 2px #404040;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_3 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_4 {
  position: absolute;
  padding-left: 6px;
  width: 134px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  box-shadow: -1px 0px 10px 2px #404040;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_4 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_5 {
  position: absolute;
  padding-left: 6px;
  width: 200px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  box-shadow: -1px 0px 10px 2px #404040;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_5 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_7 {
  position: absolute;
  padding-left: 6px;
  width: 154px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  box-shadow: -1px 0px 10px 2px #404040;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_7 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Radio_button_1 {
  position: absolute;
  box-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Radio_button_2 {
  position: absolute;
  box-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_14 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_15 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_2 {
  position: absolute;
  width: 155px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -1px 0px 11px 2px #404040;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_17 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'Guttman Haim',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Guttman Haim',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Guttman Haim',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_18 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Guttman Haim',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Guttman Haim',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Guttman Haim',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_19 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Category_7 {
  position: absolute;
  width: 163px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Category_7 .valign {
  width: 145px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_20 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_8 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_8 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_8 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_8 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_8 {
  position: absolute;
  padding-left: 6px;
  width: 154px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  box-shadow: -1px 0px 10px 2px #404040;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_8 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_21 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_22 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_23 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Category_8 {
  position: absolute;
  width: 329px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Category_8 .valign {
  width: 311px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_6 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_6 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_6 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_6 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_6 {
  position: absolute;
  padding-left: 5px;
  width: 291px;
  height: 106px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_9 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_9 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_9 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_9 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_9 {
  position: absolute;
  padding-left: 5px;
  width: 291px;
  height: 106px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_14 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_14 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_14 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_14 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_14 {
  position: absolute;
  padding-left: 5px;
  width: 291px;
  height: 106px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_14 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_14 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_10 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_10 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_10 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_10 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_10 {
  position: absolute;
  padding-left: 5px;
  width: 291px;
  height: 106px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_11 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_11 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_11 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_11 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_11 {
  position: absolute;
  padding-left: 5px;
  width: 291px;
  height: 106px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_12 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_12 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_12 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_12 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_12 {
  position: absolute;
  padding-left: 5px;
  width: 291px;
  height: 106px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_12 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Input_12 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_16 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}