#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 55px;
  height: 25px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Rectangle_2 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 155px;
  height: 25px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-16532a5a-cca7-4f43-922e-7e145689e818 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}