<button (click)="logOut()">Log Out</button>
<div *ngIf="db.loggedIn">
    <p>Logged in user details:</p>
    <br>
    <p>First name: {{db.loggedInUser.firstName}}</p>
    <p>Last name: {{db.loggedInUser.lastName}}</p>
    <p>Email: {{db.loggedInUser.email}}</p>
    <p>Birthday: {{db.loggedInUser.birthday}}</p>
    <p>Name in eglish: {{db.loggedInUser.engFname}}</p>
    <p>Last name in english: {{db.loggedInUser.engLname}}</p>
    <p>Phone number: {{db.loggedInUser.phone}}</p>
    <p>Another phone number: {{db.loggedInUser.anotherPhone}}</p>
    <p>gender: {{db.loggedInUser.gender}}</p>
    <p>City: {{db.loggedInUser.city}}</p>
    <p>Street: {{db.loggedInUser.street}}</p>
    <p>Appartment: {{db.loggedInUser.appartment}}</p>
    <p>School name: {{db.loggedInUser.schoolName}}</p>
    <p>School city: {{db.loggedInUser.schoolCity}}</p>
</div>