

<div class="header">
            <app-header></app-header>
</div>

<div class="container">
        <div>
                <p><button (click)="updateInfo()">Update info</button></p>
        </div>
        
        <div class = "style" *ngIf="db.loggedIn">
         
            <p>שם פרטי<input type="text" [(ngModel)]="db.loggedInUser.firstName" name="email" /></p>
            <p>שם משפחה<input type="text" [(ngModel)]="db.loggedInUser.lastName" name="email" /></p>
            <p>דואר אלקטרוני{{db.loggedInUser.email}}</p>
            <p>תאריך לידה<input type="text" [(ngModel)]="db.loggedInUser.birthday" name="email" /></p>
            <p>שם פרטי באנגלית{{db.loggedInUser.engFname}}</p>
            <p>שם משפחה באנגלית{{db.loggedInUser.engLname}}</p>
            <p>פלאפון<input type="text" [(ngModel)]="db.loggedInUser.phone" name="email" /></p>
            <p>טלפון{{db.loggedInUser.anotherPhone}}</p>
            <p>מין{{db.loggedInUser.gender}}</p>
            <p>עיר{{db.loggedInUser.city}}</p>
            <p>רחוב{{db.loggedInUser.street}}</p>
            <p>דירה{{db.loggedInUser.appartment}}</p>
            <p>בית ספר{{db.loggedInUser.schoolName}}</p>
            <p>עיר בית ספר{{db.loggedInUser.schoolCity}}</p>
        </div>

</div>


<div class="page-footer">
    <app-footer></app-footer>
</div>