*{
    width: 100%;
    direction: rtl;
}

.container{
    margin-top: 12%;
    float: right;
}

.row{
    margin-top: 10px;
    float: right;
    border-radius: 5px 5px 5px 5px;
    margin: 30px;
    box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
    direction: rtl;
    text-align: right;
    width: 420px;
    background-color: rgba(123, 173, 218, 0.63);
}


.page-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.95;
}

.notice {
    float: right;
    direction: rtl;
    padding: 15px;
    background-color: #fafafa;
    border-right: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}

i strong{
    margin-right: 10px; 
}
