<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="header">
    <app-header></app-header>
</div>
<div *ngIf="this.db.loggedInUser != null">
    <div class="container">
        <div class="name">
            <strong>שלום {{this.db.loggedInUser.firstName}}</strong>
        </div>
        <div *ngIf="this.db.loggedInUser.type == 'תלמיד'">
            <div class="row" id="userstatus">
                <legend><strong>סטאטוס הרשמה</strong></legend>
                <div class="notice notice-info">
                    <strong>{{workExists}}</strong>
                </div>
                <div *ngIf="this.userProject">
                    <div class="notice notice-success">
                        <strong>שים לב - בטופס הגשת הפרוייקט חסרים הפרטים הבאים:</strong>
                        <div *ngFor="let i of emptyFields">
                            <li>{{i}}</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="this.db.loggedInUser.type == 'מורה'">
            <div class="row" id="userstatus">
                <legend>עבודות של התלמידים שלי</legend>
                <div class="notice notice-success">
                    <div *ngFor="let i of user_projects; let k = index">
                        <li><b>{{i}}</b> - {{missing_details[k]}}, {{missing_file[k]}}, {{missing_recommendation[k]}}</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <legend><strong>סטאטוס הודעות</strong></legend>
            <div class="notice notice-info">
                <i class="glyphicon glyphicon-comment">
                    <strong>הודעות</strong>
                </i>
                <div *ngIf="this.msg_counter>0">
                    <strong>{{msg_counter}} הודעות חדשות</strong>
                </div>
                <div *ngIf="this.msg_counter==0">
                    אין הודעות חדשות
                </div>
                
            </div>
        </div>

        <div class="row">
            <legend><strong>קישורים</strong></legend>
            <div class="notice notice-info">
                <a href="http://www.mada.org.il/young">הדף הראשי של התחרות</a>
                <br>
                <a href="https://student.societyforscience.org/intel-isef">אתר התחרות בארה"ב</a>
                <br>
                <a href="https://ec.europa.eu/research/eucys/index.cfm?pg=home">אתר התחרות באירופה</a>
                <br>
                <div *ngIf="this.db.loggedInUser.type =='מורה'">
                    <a href="http://yharshama.mada.org.il/young-recommendation-2016.doc">הורדת טופס המלצה</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                מידע על התחרות
                <br>
                <a href="https://www.mada.org.il/young/about">אודות התחרות</a>
            </div>
        </div>
    </div>
</div>









<body>
  <div class="wrapper">
    <div class="main-content">
      <div class="counterDown text-center">
        <h1>נותרו עוד</h1>
        <hr>
        <div id="demo">
          <div id="jours" class="text-center"></div>
          <div id="heures" class="text-center"></div>
          <div id="minutes" class="text-center"></div>
          <div id="secondes" class="text-center"></div>
        </div>
        <div id="infos">
            <div class="infos-jours">Jours</div>
            <div class="infos-heures">Heures</div>
            <div class="infos-minutes">Minutes</div>
            <div class="infos-secondes">Secondes</div>
        </div>
      </div>
    </div>
  </div>
  </body>

<div class="page-footer">
    <app-footer></app-footer>
</div>

