<sebm-google-map-polyline>
        <!--<app-polypoint [lat]="lat1" [lng]="lng1" > </app-polypoint>
        <app-polypoint [lat]="lat2" [lng]="lng2" > </app-polypoint>-->
        <sebm-google-map-polyline-point [latitude]="lat1" [longitude]="lng1">
         </sebm-google-map-polyline-point>
         <sebm-google-map-polyline-point [latitude]="lat2" [longitude]="lng2">
        </sebm-google-map-polyline-point>
</sebm-google-map-polyline>




<!-- <sebm-google-map-polyline-point [latitude]="31.7683" [longitude]="35.2137">
         </sebm-google-map-polyline-point>
         <sebm-google-map-polyline-point [latitude]="40" [longitude]="40">
</sebm-google-map-polyline-point>-->