.form-gap {
    padding-top: 70px;
    direction: rtl;
}

.page-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.95;
}

.banner {
    position: fixed;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
    height: 113px;
    width: 200px;
    z-index: 1;
    font-size: 70px;
    background-image:url('../../assets/sc.png');
    background-repeat: no-repeat;
    float: right;
    right: 0;
 }

 input{
     direction: rtl;
 }