
<div class = "back">
    <img class = "webSiteLogo" src = "assets/logo.png">
    <table class="tablestyle" cellspacing="3">
      <tr>
        <td class="head" colspan="4">טופס הרשמה לתלמידים</td>
      </tr>
      <tr>
        <p></p>
      </tr>
      <tr>
        <td class="marked">שם פרטי*</td>
        <td><input type = "text" id = "txtFebruary"/></td>
        <td class="marked">שם משפחה*</td>
        <td><input type = "text" id = "txtMarch"/></td>
        
      </tr>
      <tr>
        <td>שם פרטי באנגלית</td>
        <td><input type = "text" id = "txtApril"/></td>
        <td>שם משפחה באנגלית</td>
        <td><input type = "text" id = "txtMay"/></td>
      </tr>
      <tr>
        <td class="marked">דואר אלקטרוני*</td>
        <td><input type = "text" id = "txtJanuary"/></td>
        <td class="marked">שם משתמש*</td>
        <td><input type = "text" id = "txtJune"/></td>
      </tr>
      <tr>
        <td class="marked">סיסמא*</td>
        <td><input type="password" id = "txtJuly"/></td>
        <td class="marked">אימות סיסמא*</td>
        <td><input type="password" id = "txtAugust"/></td>
      </tr>
      <tr>
        <td class="marked">נייד/טלפון בבית*</td>
        <td><input type = "text" id = "txtSeptember"/></td>
        <td>טלפון נוסף</td>
        <td><input type = "text" id = "txtOctober"/></td>
      </tr>
      <tr>
        <td>מין</td>
        <td>
          <input type = "checkbox" id = "male">זכר
          <input type = "checkbox" id = "female">נקבה
        </td>
        <td class="marked">תאריך לידה*</td>
        <td>
            <select id="day">
                <option>יום</option>
                <option>1</option>
                <option>2</option>
              </select>
              <select id="month">
                  <option>חודש</option>
                  <option>ינואר</option>
                  <option>פברואר</option>
              </select>
              <select id="year">
                  <option>שנה</option>
                  <option>1980</option>
                  <option>1981</option>
              </select>
        </td>
      </tr>
      <tr>
        <td>כתובת</td>
        <td><input type = "text" id = "txtBonusPoints"/></td>
        <td>ישוב</td>
        <td><input type = "text" id = "txtBonusPoints"/></td>
      </tr>
      <tr>
        <td>שם ביה"ס</td>
        <td><input type = "text" id = "txtBonusPoints"/></td>
        <td>ישוב ביה"ס</td>
        <td><input type = "text" id = "txtBonusPoints"/></td>
      </tr>
      <tr>
        <br>
      </tr>
      <tr>
        <td class="shift" colspan="4"><button (click)="this.onClick()" id = "Calculate" class="btn">שמור והמשך לשלב הבא</button>
        <td class="shift" colspan="4"><button (click)="this.onPrint()" id = "Calculate" class="btn">print</button>
      </tr>
    </table>
  
    <img class = "downBanner" src = "assets/down.JPG">
</div>
