

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
   <!-- page-header -->
      <div class="page-header">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="page-caption">
                          <h1 class="page-title">תחרות מדענים ומפתחים צעירים בישראל</h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /.page-header-->
      <!-- news -->
      <div class="card-section">
          <div class="container">
              <div class="card-block bg-white mb30">
                  <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <!-- section-title -->
                          <div class="section-title mb-0">
                              <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="signIn()">
                                  <fieldset>
                                  
                                  <!-- Form Name -->
                                  <legend>Login</legend>
                                  
                                  <!-- Text input-->
                                  <div class="form-group">
                                    <label class="col-md-4 control-label" for="username">Username</label>  
                                    <div class="col-md-4">
                                    <input id="username" name="username" type="email" placeholder="Username" class="form-control input-md" formControlName="email" required>
                                    </div>
                                  </div>

                                  <div *ngIf="formErrors.email">
                                      {{ formErrors.email }}
                                    </div>
                                  
                                  <!-- Password input-->
                                  <div class="form-group">
                                    <label class="col-md-4 control-label" for="password">Password</label>
                                    <div class="col-md-4">
                                      <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" formControlName="password" required>
                                    </div>
                                  </div>

                                  <div *ngIf="formErrors.password">
                                      {{ formErrors.password }}
                                    </div>
                                  
                                  <!-- Button -->
                                  <div class="form-group">
                                    <label class="col-md-4 control-label" for="btnSubmit"></label>
                                    <div class="col-md-4">
                                      <button id="btnSubmit" name="btnSubmit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
                                    </div>
                                  </div>
                                  
                                  </fieldset>
                                  </form>
                          </div>
                          <!-- /.section-title -->
                      </div>
                  </div>
              </div>
              <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                Created for <a href="https://easetemplate.com/downloads/digital-marketing-website-template-hike-bold-design/" target="_blank">easetemplate</a>
                </div></div>
              </div>
              </div>
  