@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

.blog-info h1, .page-content h1,
.blog-info h2, .page-content h2,
.blog-info h3, .page-content h3,
.blog-info h4, .page-content h4,
.blog-info h5, .page-content h5,
.blog-info h6, .page-content h6,
.blog-info p, .page-content p, .categories-heading p,
.sidebar-box-heading h4, .carousel-heading h4,
#lower-footer .copyright-text, #main-footer h4, #upper-footer h4,
#top-header li a, .blog-meta span,
#mega_main_menu.main_navigation > .menu_holder > .menu_inner > .nav_logo > .mobile_toggle > .mobile_button, #mega_main_menu.main_navigation > .menu_holder > .menu_inner > ul > li > .item_link, #mega_main_menu.main_navigation > .menu_holder > .menu_inner > ul > li > .item_link .link_text, #mega_main_menu.main_navigation > .menu_holder > .menu_inner > ul > li.nav_search_box *, #mega_main_menu.main_navigation > .menu_holder > .menu_inner > ul > li .post_details > .post_title, #mega_main_menu.main_navigation > .menu_holder > .menu_inner > ul > li .post_details > .post_title > .item_link,
.woo_compare_widget_container .no_compare_list, body .woo_compare_button_container .woo_bt_compare_this_link{
	font-family: 'Alef Hebrew', serif !important;	
}

body{
	direction: rtl;
	unicode-bidi: embed;
	font-family: 'Alef Hebrew', serif !important;
}

.box-dropdown .iconic-input input{
	padding-left:40px;
}
.iconic-input .icons{
	right:auto !important;
	left:10px !important;
}
input[type="checkbox"]+label{
	padding-right: 25px;
	padding-left: 0px;
	margin-right: 0px;
}
input[type="checkbox"]+label:before{
	right:0px;
	left:auto;
	margin-left:10px;
	margin-right:0px;
}
#mega_main_menu.main_navigation > .menu_holder > .menu_inner > ul > li:hover > .item_link > i{
	padding-left:10px;
	padding-right:0px;
}
#mega_main_menu.main_navigation.icons-top > .menu_holder > .menu_inner > ul > li > .item_link > i{
	text-align: left;
	margin-right:0px !important;
	margin-left:-5px !important;
}
#main-navigation a .icons{
	left:0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > span{
	float:right;
}
#search-bar{
	margin-right: 0px;
	margin-left: 50px;
	padding-right:0px;
	padding-left: 65px;
}
#mega_main_menu.first-lvl-align-left > .menu_holder > .menu_inner > ul { text-align: right; }
#search-button{
	right:auto;
	left:0px;
}

[class*="flexslider"],
.owl-carousel, #product-carousel,
#product-carousel .slides > li{
	direction: ltr;
}
.slides > li,
.owl-carousel .owl-item{
	direction: rtl;
}

.carousel-arrows .icons.icon-left-dir{
	float: right;
}

#main-navigation>ul>li>a .icons{
	text-align: left;
}

ul.comments li .icons,
.char-counter,
.banner-item .button,
.payment-list{
	float: left;
}
header #main-navigation>ul>li>ul.normal-dropdown .icons{
	left: auto;
	right: 10px;
	float: left;
}
#main-navigation>ul>li>a .icons{
	left: auto;
	right: 10px;
}
#main-navigation>ul>li:hover>a>.icons{
	right:0;
	left: auto;
}
#top-header a.flag>span{
	margin-right: 0;
	margin-left: 5px;
}
#main-navigation li ul.normal-dropdown li ul{
	left: auto;
	right: 100%;
	padding-left: 0;
	padding-right: 1px;
}
.char-counter input[type="text"]{
	margin-left: 0;
	margin-right: 5px;
}
.banner-item.icon-on-right{
	padding-right: 15px;
	padding-left: 80px;
}

.banner-item.icon-on-left{
	padding-left: 15px;
	padding-right: 80px;
}
.banner-item.icon-on-right .icons{
	right: auto;
	left: 10px;
}
.banner-item.icon-on-left .icons{
	left: auto;
	right: 10px;
}
.banner-item .button{
	right: auto;
	left: 15px;
}

#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right > .mega_dropdown,
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right .mega_dropdown{
	left:auto;
	right:0px;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right > .mega_dropdown .mega_dropdown{
	margin-right:1px;
	right:100%;
	left:0;
}
.carousel-arrows{
	float: right;
	position: relative;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right .mega_dropdown li > .item_link:before{
	content:'\e890';
	left:10px;
	float:left;
	right:auto;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right .mega_dropdown li > .item_link{
	padding-right:10px;
	padding-left:15px;
}
#mega_main_menu ul > li ul { text-align: right; }
.icon-right-dir:before{ content : '\e890'; }
.icon-left-dir:before { content: '\e891'; }
.sidebar-box-content>ul>li>a{
	padding: 8px 20px 8px 35px;
}
.sidebar-box-content>ul>li>a .icons,.accordion-button{
	right:auto;
	left:15px;
}
.product-info .rating{
	float:left;
	margin-right: 0px;
	width:80px !important;
}
span.price del{
	margin-right:0px;
	margin-left:5px;
}
span.add-to-cart .icons,
.add-to-favorites .action-wrapper i,
.yith-wcwl-add-button > a i, .wishlist_table .add_to_cart.button i,
.add-to-compare .action-wrapper i{
	float:right;
	margin-right:8px;
}
span.action-name{
	left:auto!important;
	right:30px;
}
.product-actions>span.current span.action-name{
	right:35px;
	left:auto;
}
.add-to-favorites.current span.action-name,
.add-to-compare.current span.action-name{
	right:28px !important;
	left:auto;
}
#newsletter input[type="text"]{
	margin-left:0px;
	margin-right:15px;
}
.social-media ul{
	margin-left:0px;
	margin-right:15px;
}
.twitter-widget li{
	padding-left:0px;
	padding-right:30px;
}
.twitter-widget li:before{
	left:auto;
	right:0px;
}
.pull-left{
	float:right !important;
}
.pull-right{
	float:left !important;
}
@media only screen and (min-width:767px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float:right;
	}
}
[class*="col"][class*="push"],
[class*="col"][class*="pull"]{
	left:auto;
	right:auto;
}
.box-dropdown{
	right:auto;
	left:0px;
	padding-left:0px !important;
	padding-right:0px !important;
}
#top-header li:last-child{
	padding-left:0px;
}
.box-dropdown:after{
	right:auto;
	left:30px;
}
#middle-navigation .box-dropdown:after{
	right:auto;
	left:10px;
}
#top-header li:last-child{
	padding-left:10px;
}
.main-content,.sidebar{
	float:left;
}
.sidebar-dropdown{
	left:auto;
	right:100%;
}
.contact-footer-info ul li{
	padding-left:0px;
	padding-right:30px;
}
#main-footer ul li .icons{
	left: auto;
	right: 0px;
}
.contact-footer-info ul li .icons{
	margin-right:0;
	margin-left:10px;
}
.sidebar-box-heading{
	padding-left:20px;
	padding-right:46px;
}
.sidebar-box-heading .icons{
	left:auto;
	right:30px;
}
.chosen-container-single .chosen-single div{
	left:10px;
	right: auto;
}
.chosen-container-single .chosen-single span{
	margin-right:0;
	margin-left: 26px;
}
.product-single .product-actions-single .chosen-single, 
.page-content .chosen-single,
.chosen-container-single .chosen-single{
	padding-left: 0;
	padding-right: 8px;
}
.category-buttons{
	right:auto;
	left:0;
	border-left:none;
	border-right:1px solid #e7f9fc;
}
.pagination,.rating-box-cat{
	float:left;
}
.pagination .page-numbers{
	float:right;
}

.product-actions .add-to-cart a{float:right;}
.product-actions .add-to-favorites a {float: right;}

ul.products.list li.product{
	text-align:right !important;
}
ul.products.list li.product .product-info{
	float:left !important;
}
ul.products.list li.product .product-image{
	float:right !important;
}
ul.products.list li.product .product-actions>span span.action-name{
	right:35px;
	left:auto !important;
}
ul.products.list li.product .product-info{
	padding-left:15px;
}
.blog-meta span{
	margin-right:0px;
	margin-left:20px;
}
.blog-meta .rating-box span{
	margin-left:0px !important;
	margin-right:0px !important;
}
.blog-meta .rating.readonly-rating{
	width:80px !important;
}
.rating-box .rating{
	margin-right: 0px;
}
.blog-actions i{
	float:right;
}
.product-actions > span{
	padding-right:8px;
}
.blog-actions.product-actions > span.current span.action-name{
	right:30px;
}
.contact-item{
	padding-left:auto;
	padding-right:60px;
}
.contact-item .icons{
	left: auto;
	right: 0px;
}
.product-single-info table td{
	padding:0 0 5px 20px !important;
}
table span.action-name{
	left:auto;
	right:0;
}
.add-to-cart .icons,
.add-to-favorites .action-wrapper i,
.yith-wcwl-add-button > a i,
.wishlist_table .add_to_cart.button i,
.add-to-compare .action-wrapper i{
	margin-right:0px;
}
table span.add-to-cart{
	padding:10px 15px 10px 20px;
}
i.icon-info{
	float:right;
}
.magnifier{
	direction: ltr;
}

.chosen-container.chosen-with-drop .chosen-drop {
  right: 0;
  left:auto;
}
.chosen-container .chosen-drop,
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	left:auto;
	right:-9999px;
}
a.pp_close,
a.pp_arrow_next, a.pp_arrow_previous,
.pp_nav .pp_pause, .pp_nav .pp_play, a.pp_next, a.pp_previous{
	text-indent: 10000px;
}
.numeric-input input{
	text-align: center;
}
.align-right{
	text-align:left;
}
a.button .icons{
	margin:0 -5px 0 5px;
}
a.button.right-icon{
	padding-left:5px;
	padding-right: 15px;
}
a.button.right-icon .icons{
	margin-right:5px;
}
.blog-actions-big.product-actions i{
	float:right;
}
.product-actions .added_to_cart{
	left:auto;
	right:0px;
}
.added_to_cart{
	padding-left:0px;
	padding-right:30px;
}
.reply{
	position: absolute;
	top:27px;
	left:10px;
}
.custom-search ul.products.list li.product .product-actions>span span.action-name{
	text-align: right;
}
.social-media ul,
#newsletter input[type="text"]{
	margin-right:0px;
}
.social-media ul li a{
	margin-right:0px !important;
}
.social-media ul li a{
	margin-left:5px;
}
.custom-search ul.products.list li.product{
	text-align: right !important;
}
.custom-search ul.products.list{
	overflow: hidden;
}
.style3 #mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link,
.style5 #mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link{
	padding-right:20px;
	padding-left:5px;
}
.social-media > h4{
	margin-left:10px;
}
ul.products.list li.product .product-actions{
	left:auto;
	right:33.3333%;
}
#back-to-top{
	right: auto;
	left: 20px;
}
/*ul.products.list li.product .product-actions{
	right:auto;
	left:0;
}*/

@media (max-width: 1199px) and (min-width: 992px){
	.banner-item.icon-on-left {
	  padding-right: 43px;
	}
}

@media only screen and (max-width:991px) and (min-width: 768px){
	.product-actions > span{
		padding-right:0px;
	}
	#newsletter input[type="text"]{
		margin-right:0px;
	}

	.banner-item span.button {
	  left: 10px;
	  right: auto;
	  top: 15px;
	  padding: 8px 10px;
	  font-size: 12px;
	}
	.banner-item.icon-on-right{
	  padding-left: 10px;
	}
	.banner-item.icon-on-left {
	  padding-right: 10px;
	}

}
@media only screen and (max-width:768px){
	.main-content, .sidebar{
		float:none;
	}
	span.add-to-cart .icons, .add-to-favorites .action-wrapper i, .yith-wcwl-add-button > a i, .wishlist_table .add_to_cart.button i, .add-to-compare .action-wrapper i{
		margin-right:0px;
	}
	#search-bar{
		margin-left:0px;
	}
	body .woo_compare_button_container .woo_bt_compare_this_link{
		padding-top:0px;
	}
}