
*{
    font-size: 10px;
    
}

.lala{
    position: relative;
    top: 150px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.95;
 }
