<div class="col-sm-4 form-group">
<button class="btn btn-primary btn-default" id="save"(click)="logOut()">התנתק</button>
<button class="btn btn-primary btn-default" id="save"(click)="exportUsersToExcel()">יצא טבלת משתמשים לקובץ אקסל</button>
<button class="btn btn-primary btn-default" id="save"(click)="exportProjectsToExcel()">יצא טבלת פרוייקטים לקובץ אקסל</button>
<button class="btn btn-primary btn-default" id="save"(click)="openCompetition()">פתח תחרות</button>
</div>

  
<button class="btn btn-primary btn-default" id="save"(click)="go_to_reg('new')">רשום משתמש חדש</button>
<button class="btn btn-primary btn-default" id="save"(click)="go_to_reg('update')">עדכן פרטים שלי</button>

<a routerLink="/msgpage">
        <button type="submit" class="btnSignin btn-primary">הודעות נכנסות</button>
    </a>

    <a routerLink="/contactUs">
        <button type="submit" class="btnSignin btn-primary">שליחת הודעות</button>
    </a>

<button type="button" class="btn btn-labeled btn-primary" (click)="projectesTable(1)">טבלת פרוייקטים</button>
<button type="button" class="btn btn-labeled btn-primary" (click)="projectesTable(2)">טבלת משתמשים</button>
<div *ngIf = "showSetComp">
        <app-competition-settings-page></app-competition-settings-page>
</div>
