<div class="col-sm-4 form-group">
<button class="btn btn-primary btn-default" id="save"(click)="logOut()">התנתק</button>
<button class="btn btn-primary btn-default" id="save"(click)="exportUsersToExcel()">יצא טבלת משתמשים לקובץ אקסל</button>
<button class="btn btn-primary btn-default" id="save"(click)="exportProjectsToExcel()">יצא טבלת פרוייקטים לקובץ אקסל</button>
</div>

  
<button class="btn btn-primary btn-default" id="save"(click)="go_to_reg('new')">רשום משתמש חדש</button>
<button class="btn btn-primary btn-default" id="save"(click)="go_to_reg('update')">עדכן פרטים שלי</button>


<button type="button" class="btn btn-labeled btn-primary" (click)="projectesTable(1)">טבלת פרוייקטים</button>
<button type="button" class="btn btn-labeled btn-primary" (click)="projectesTable(2)">טבלת משתמשים</button>
<app-competition-settings-page></app-competition-settings-page>