<div class="logo">
  <img src="../../assets/museum-logo.png" class="musem"/>
  <img src="../../assets/education-office-logo.jpg" class="education"/>
  <img src="../../assets/logo_intel.png" class="intel"/>
  <img src="../../assets/keren-jer-logo.png" class="keren"/>
  <img src="../../assets/heb-uni-logo.gif" class="uni"/>
  <img src="../../assets/Israel_Academy_of_Sciences_and_Humanities.png" class="academy"/>
  <img src="../../assets/federal-logo.png" class="federal"/>
  <img src="../../assets/iserd_logo.jpg" class="iserd"/>
</div>