<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />

<div class="header">
    <app-header></app-header>
</div>
<div *ngIf="this.db.loggedInUser == null">
    <div class="loader"></div>
</div>
<div class="container" dir="rtl" *ngIf="this.db.loggedInUser != null">
    <h2 class="well">{{title}}</h2>
    
    <div class="input-group">
        
        <div *ngIf="this.db.loggedInUser.type == 'מנהל'" class="center exportTable">
            <button class="btn btn-primary center-block">
                <img src = "http://icons.iconarchive.com/icons/ncrow/mega-pack-1/128/Excel-icon.png" width="15%" height="100%">
                 <p>ייצא טבלה לאקסל</p>
                </button>
        </div>

            <div *ngIf="this.db.loggedInUser.type == 'מנהל' && this.page==1" class="center">
                <div class="dropdown">
                        <button class="dropdown-toggle" type="button"><span class="fa fa-bookmark-o fa-1x"></span><p>תוצאות התחרות</p></button>
                        <div class="dropdown-content">
                          <a class="publish" (click)="publishResult()"><i class="material-icons" style="font-size:20px">&#xe255;</i><p>פרסום תוצאות</p></a>
                          <a ><i class="fa fa-pencil fa-1x"></i><p>ערוך הודעת תוצאה</p></a>
                        </div>
                      </div>
        </div>

        


        <input type="text" id="myInput" (keyup)="search()" placeholder="הזן ערך לחיפוש..."/>
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>

    
    <div class="widget-content"></div>
</div>


<div class="window">
        <div class="modal-content">
            <legend>
                    <strong>הוספת המלצה</strong>
                </legend>
                <div class="modal-body">
                           <div class="row">
                                <div class="btn btn-default image-preview-input">
                                        <input type="file" (change)="selectRecommendationFile($event)" required name="fileupload" />
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                        <span class="image-preview-input-title">בחר קובץ</span>
                                        </div>
                                        <div>
                                        <button type="button" id="send" class="btn btn-labeled btn-primary" [disabled]="!selected_recommendation_files" (click)="recommendationUpload()">
                                            <span class="btn-label">
                                            <i class="glyphicon glyphicon-upload"></i>
                                            </span>שלח</button>
                                        </div>
                           </div>
                            <div class="row">
                                    <div class="file" *ngIf="this.selected_recommendation_files != null">{{this.selected_recommendation_files.item(0).name}}</div>
                            </div>
                            
                            <div class="row">
                                    <div *ngIf="current_recommendation_FileUpload" class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" attr.aria-valuenow="{{progress.percentage}}"
                                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                                        {{progress.percentage}}%</div></div>
                            </div>

                            <div class="row">
                                    <button type="button" class="btn btn-labeled" id="close" ><i class="glyphicon glyphicon-remove"></i>סגור </button>
                            </div>
                </div>
        </div>
    </div>



<div class="footer">
    <app-footer></app-footer>
</div>
