<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->

<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3>
              <i class="fa fa-lock fa-4x"></i>
            </h3>
            <h2 class="text-center">שכחת סיסמא?</h2>
            <h5>הזן כתובת דואר אלקטרוני בכדי להתחיל את תהליך איפוס הסיסמא</h5>
            <div class="panel-body">

              <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-envelope color-blue"></i>
                    </span>
                    <input type="email" id="email" name="email" [(ngModel)]="user.email" placeholder="הזן כתובת דואר אלקטרוני" class="form-control"
                      required>
                  </div>
                </div>
                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="המשך" type="submit" (click)="resetPassword()">
                </div>
                <p *ngIf="passReset" class="testError">בקשת איפוס נשלחה ,בדוק את הוראות האימייל שלך</p>
                <input type="hidden" class="hide" name="token" id="token" value="">
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>