<div *ngIf="this.comp_settings != undefined" class="container">
  <div class="row">
    <legend>
      פתח תחרות חדשה
    </legend>
    <div class="col-sm-20">
      שם התחרות
      <input type="text" [(ngModel)]="comp_settings.name" name="name" />
    </div>
  </div>

  <div class="row">
    <legend>
      תאריך התחלה
    </legend>
  </div>
  <div class="row">
    <input type="date" name="input" ng-model="example.value" placeholder="yyyy-mm-dd" min="1990-01-01" max="2050-12-31" id="birthday"
      [(ngModel)]="comp_settings.start_date" />
  </div>
  <div class="row">
    <legend>
      תאריך סיום
    </legend>
  </div>
  <div class="row">
    <input type="date" name="input" ng-model="example.value" placeholder="yyyy-mm-dd" min="1990-01-01" max="2050-12-31" id="birthday"
      [(ngModel)]="comp_settings.end_date" />
  </div>
  <div class="row">
    <button (click)="openCompetition()">פתח תחרות חדשה</button>
    <button (click)="closeCompetition()">סגור תחרות קיימת</button>
  </div>